{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/Work.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <title>Coderic Track</title>
</head>
<body>
    <div class="submit-box">
        <h1>Coderic Track</h1>
        <h2>Hello, {{displayname }}</h2>
        <h2>Work Status</h2>
        <form method="post" action="">
            {% csrf_token %}
            <div class="user-box">
                <input type="text" value="{{data}}" name="unique" readonly>
            </div>
            <div class="user-box">
                <input type="time" name="from" required>
                <label>Work Hours ( From ) ( 12 Hours )</label>
            </div>
            <div class="user-box">
                <input type="text" name="leader" required>
                <label>Team Leader</label>
            </div>
            <div class="user-box">
                <input type="text" name="mentor" required>
                <label>Leader/Mentor Name</label>
            </div>
            <div class="user-box">
                <input type="text" name="member" required>
                <label>Employee Member Name</label>
            </div>
            <div class="user-box">
                <input type="text" name="description" required>
                <label>Work Description</label>
            </div>
            <div class="user-box">
                <input type="time" name="to" required>
                <label>Work Hours ( To ) ( 12 Hours )</label>
            </div>
            <div class="user-box">
                <h3>Check carefully before click on submit becuse there is no way to edit </h3>
            </div>
            <button name="submit2" href="" type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                submit
            </button>
        </form>
    </div>
</body>
</html>
